body {
    font-size: 14px;
}

#title {
    font-family: Courier New;
    font-weight: 550;
    text-align: center;
    margin: 20px;
    margin-top: 0px;
}

#links-container {
    height: 40px;
}

#gh-logo-container {
    float: right;
}

#gh-logo {
    width:30px;
    margin: 5px;
}

#my-link-container {
    float: left;
}

#my-link {
    display: block; 
    margin: 5px;
    text-decoration: none; 
    color: black;
    padding-left: 5px;
    padding-right: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
    font-weight: 550;
    border-radius: 5px;
	background-color: rgb(245, 245, 245);
	border: 1px solid rgb(235, 235, 235);
}

#my-link:hover {
    background-color: rgb(235, 235, 235);
	border: 1px solid rgb(225, 225, 225);
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center; /* changed the flex direction to column so align-items which would center items vertically, centers it horizontally */
}

#top-container {
    display: flex;
    justify-content: center;  /* Centers horizontally */
    /* align-items: center; */     /* Centers vertically */
}

#canvas {
    background-color: black;
}

#right-panel {
    width: 250px;
    border: 2px solid black;
}

/* toggles */
#toggles {
    border-bottom: 2px solid black;
    padding: 5px;
}

#play-pause-btn {
    margin-top: 5px;
    font-size: 20px;
    width: 40px;
    margin-bottom: 10px;
}

#speed-label {
    margin-left: 45px;
}

.checkboxes {
    transform: scale(1.2);
}

#orbital-path-checkbox {
    margin-left: 35px;
}

#velocity-checkbox {
    margin-left: 5px;
}

#acceleration-checkbox {
    margin-left: 5px;
}

#tabs {
    display: flex;
    font-size: 16px;
}

#orbit-tab-btn {
    background-color: rgb(215, 215, 215);
    border: 1px solid black;
    padding: 5px;
    border-left: none;
    border-top: none;
    cursor: pointer;
}

#maneuver-tab-btn {
    background-color: rgb(215, 215, 215);
    border: 1px solid black;
    padding: 5px;
    display: inline-block;
    border-top: none;
    border-left: none;
    border-right: none;
    cursor: pointer;
    width: 140px; /* So the button does not take two lines */
}

/* When the tab is clicked */
#orbit-tab-btn.active-tab, #maneuver-tab-btn.active-tab {
    background-color: white;
    border-bottom: none;
}

#filler-tab-btn {
    background-color: rgb(215, 215, 215);
    border: 1px solid black;
    padding: 5px;
    display: inline-block;
    border-top: none;
    border-right: none;
    width: 64px;
}

/* forms */
#orbit-form-container, #maneuver-form-container {
    border: 1px solid black;
    border-right: none;
    border-left: none;
    border-bottom: none;
    border-top: none;
    padding: 3px;
}

#maneuver-form-container {
    font-size: 12px;
}

.form-title  {
    font-size: 14px;
    font-weight: bold;
}

#initial-orbit-title, #final-orbit-title {
    cursor: pointer;
}

#initial-orbit-container {
    margin-bottom: 15px;
}

#final-orbit-container {
    margin-bottom: 20px;
}

#optimization-container {
    margin-bottom: 20px;
}

.form-part-container {
    margin-bottom: 10px;
}

#optimization-toggle {
    position: relative;
    top: 4px;
    width: 35px;
}

#save-label {
    padding: 2px;
    font-weight: bold;
}

#time-label {
    padding: 2px;
}

#fuel-label {
    padding: 2px;
    font-weight: bold;
    border: 2px solid black;
}

#maneuver-submit-btn {
    font-size: 14px;
}

.form-value {
    width: 100px;
}


/* info */
#info-container {
    font-family: Courier New;
    width: 850px; /* canvas width + right-panel min-width */
    border: 2px solid black;
    border-top: none;
    padding: 5px;
}

.info-title {
    font-family: Arial;
    font-size: 25px;
    font-weight: bold;
}

#strat-tooltip {
    visibility: hidden; /* Initially hidden */
    position: absolute;
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 10px;
    font-size: 10px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 1;
}

#strat-tooltip-hover-container:hover #strat-tooltip {
    visibility: visible;
    opacity: 0.8;
}