{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        Orbital Maneuver Simulator
    </title>
    <link rel="icon" type="image/x-icon" href="{% static 'img/satellite.png' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'index.css' %}">
  </head>
  <body>
    <h3 id="title">ORBITAL MANEUVER SIMULATOR</h3>
    <div id="container">
        <div id="top-container">
            <canvas id="canvas" width="600" height="600"></canvas> <!-- You need to put the width and height here, not the CSS or canvas is blurry -->
            <div id="right-panel">
                <div id="toggles">
                    <center><button id="play-pause-btn">&#9654;</button><br></center>
                    <label id="speed-label"> Simulation speed: <span id='speed-value'>1 h/s</span></label><br>
                    <center><input type="range" id="speed-slider" min="1" max="24" step="1" value="1"></center>
                    <input id="orbital-path-checkbox" class="checkboxes" type="checkbox" checked><label style="padding-left: 5px;"> Orbital path</label><br>
                    <input id="velocity-checkbox" class="checkboxes" type="checkbox"><label style="padding-left: 5px; color:blue; font-size: 16px; font-weight: 900;"> \( \vec{v} \) </label><br>
                    <input id="acceleration-checkbox" class="checkboxes" type="checkbox"><label style="padding-left: 5px; color:red; font-size: 16px; font-weight: 900;"> \( \vec{a} \) </label><br>
                </div>
                    <div id="tabs">
                        <span id="orbit-tab-btn" class="active-tab" onclick="handleOrbitTabClick()">Orbit</span> 
                        <span id="maneuver-tab-btn" onclick="handlemaneuverTabClick()">Orbital maneuver</span>
                        <span id="filler-tab-btn"></span>
                    </div>
                    <div id="orbit-form-container">
                        <form id="orbit-form" method="post">
                            {% csrf_token %} <!-- Django CSRF token -->
                            <label>Semi-major axis (km) </label><br>
                            <input type="range" id="orbit-axis-slider" min="6531" max="50000" step="1" value="12345">
                            <input id="orbit-axis-value" name="orbit-axis-value" value="12345"></input>
                            
                            <br>
                            <label>Eccentricity </label><br>
                            <input type="range" id="orbit-ecc-slider" min="0" max="0.673" step="0.001" value="0.420">
                            <input id="orbit-ecc-value" name="orbit-ecc-value" value="0.420"></input>
                            <br>
                            <label>Argument of periapsis (°) </label><br>
                            <input type="range" id="orbit-arg-slider" min="0" max="359" step="1" value="69">
                            <input id="orbit-arg-value" name="orbit-arg-value" value="69"></input>

                            <br><br>
                            <center><input id="orbit-submit-btn" type="submit" value="Start simulation"></center>
                        </form>
                    </div>
                    <div id="maneuver-form-container" style="display: none;">
                        <form id="maneuver-form" method="post">
                            Coming soon...
                        </form>
                    </div>
            </div>
        </div>
        <div id="info"> </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="{% static 'submitForms.js' %}"></script>
    <script>
        const EARTH_RADIUS = 6371;

        // toggles
        document.getElementById("play-pause-btn").addEventListener('click', () => {
            if (typeof simulation !== 'undefined') {
                if (simulation.isRunning) {
                    simulation.stop();
                } else {
                    simulation.start();
                }
            } else {
                window.onload = document.getElementById("orbit-submit-btn").click(); //initial simulation
            }
        });

        const speedSlider = document.getElementById("speed-slider");
        const speedValue = document.getElementById("speed-value");
        speedSlider.addEventListener("input", () => {
            if (typeof simulation !== "undefined") {
                if (speedSlider.value == "24") {
                    speedValue.innerHTML = "1 day/s"
                } else {
                    speedValue.innerHTML = speedSlider.value + " h/s";
                }
                simulation.speedMultiplier = parseInt(speedSlider.value);
                if (!simulation.isRunning){
                    simulation.draw();
                }
            } else {
                speedSlider.value = 1;
            }
        });

        const orbitalPathCheckbox = document.getElementById("orbital-path-checkbox");
        const velocityCheckbox = document.getElementById("velocity-checkbox");
        const accelerationCheckbox = document.getElementById("acceleration-checkbox");
        
        orbitalPathCheckbox.addEventListener('change', () => {
            if (typeof simulation !== "undefined") {
                if (orbitalPathCheckbox.checked) {
                    simulation.showOrbitalPath = true;
                } else {
                    simulation.showOrbitalPath = false;
                }
                if (!simulation.isRunning){
                    simulation.draw();
                }
            }
        });

        velocityCheckbox.addEventListener('change', () => {
            if (typeof simulation !== "undefined") {
                if (velocityCheckbox.checked) {
                    simulation.showVelocity = true;
                } else {
                    simulation.showVelocity = false;
                }
                if (!simulation.isRunning){
                    simulation.draw();
                }
            }
        });

        accelerationCheckbox.addEventListener('change', () => {
            if (typeof simulation !== "undefined") {
                if (accelerationCheckbox.checked) {
                    simulation.showAcceleration = true;
                } else {
                    simulation.showAcceleration = false;
                }
                if (!simulation.isRunning){
                    simulation.draw();
                }
            }
        });
        
        // tabs
        const orbitTabBtn = document.getElementById("orbit-tab-btn");
        const maneuverTabBtn = document.getElementById("maneuver-tab-btn");
        const orbitForm = document.getElementById("orbit-form-container");
        const maneuverForm = document.getElementById("maneuver-form-container");


        function handleOrbitTabClick() {
            if (!orbitTabBtn.classList.contains("active-tab")) {
                orbitTabBtn.classList.add("active-tab");
                maneuverTabBtn.classList.remove("active-tab");
                orbitForm.style.display = "block";
                maneuverForm.style.display = "none";
            }
        }

        function handlemaneuverTabClick() {
            if (!maneuverTabBtn.classList.contains("active-tab")) {
                maneuverTabBtn.classList.add("active-tab");
                orbitTabBtn.classList.remove("active-tab");
                maneuverForm.style.display = "block";
                orbitForm.style.display = "none";
            }
        }

        // forms
        // syncs slider and value next to it
        function syncSliderAndInput(id) {
            const slider = document.getElementById(id + "-slider");
            const value = document.getElementById(id + "-value");

            slider.addEventListener('input', () => {
                value.value = slider.value;
            });

            value.addEventListener('input', () => {
                slider.value = value.value;
            });

            value.addEventListener('blur', () => {
                clamp(id);
            });
        }

        // restricts value so it doesn't go out of bounds
        function clamp(id) {
            const slider = document.getElementById(id + "-slider");
            const value = document.getElementById(id + "-value");
            const min = parseFloat(document.getElementById(id + "-slider").min);
            const max = parseFloat(document.getElementById(id + "-slider").max);

            if (id == "orbit-arg") { //angle periodicity
                let angle = parseFloat(value.value) % 360;
                angle = angle >= 0 ? angle : 360 + angle;
                value.value = angle;
                slider.value = value.value;
            } else {
                if (parseFloat(value.value) < min) {
                    value.value = min;
                }
                if (parseFloat(value.value) > max) {
                    value.value = max;
                }
            }
        }

        const sliderInputIds = ["orbit-ecc", "orbit-axis", "orbit-arg"];
        sliderInputIds.forEach((id) => {
            syncSliderAndInput(id);
        });

        // change eccentricity max so that periapsis is at least bigger than earth's radius + 160km which is the lowest altitude a satellite can be at
        function changeEccMax() {
            orbitAxisValue = document.getElementById("orbit-axis-value").value;
            eccMax = 1 - (EARTH_RADIUS + 160)/orbitAxisValue
            document.getElementById("orbit-ecc-slider").max = Math.floor(eccMax * 1000) / 1000;
            clamp("orbit-ecc");
        }

        document.getElementById("orbit-axis-slider").addEventListener('input', () => {
            changeEccMax();
        });

        document.getElementById("orbit-axis-value").addEventListener('blur', () => {
            changeEccMax();
        });

        changeEccMax();

        // MathJax config for velocity and acceleration vectors
        window.MathJax = {
            tex: {
              inlineMath: [['$', '$'], ['\\(', '\\)']]
            },
            svg: {
              fontCache: 'global'
            }
        };
    </script>
    <script type="text/javascript" id="MathJax-script" defer src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"></script>
    <script src="{% static 'canvas.js' %}"></script>
    <script>

        const earthImg = new Image();
        earthImg.src = "{% static 'img/earth.png' %}";

        const satImg = new Image();
        satImg.src = "{% static 'img/satellite.png' %}";

        earthImg.onload = () => {
            satImg.onload = () => {
                window.onload = document.getElementById("orbit-submit-btn").click(); //initial simulation
            };
        };
    
    </script>
  </body>
</html>